@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }
}

body {
  @apply bg-white dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100 transition-colors;
}
button {
  cursor: pointer;
}